<div *ngIf="userData" class="user-profile">
  <div class="user-header">
    <h1>User Profile</h1>
  </div>
  <div class="user-details">
    <p>Name: {{ userData.Username }}</p>
    <p>Email: {{ userData.Email }}</p>
    <p>Birthday: {{ userData.Birthday | date : "mediumDate" : "UTC" }}</p>
  </div>
  <button (click)="openUserUpdateDialog()">Update user</button>
  <button (click)="deleteUser()">Delete user</button>
  <div *ngIf="favoriteMovies.length === 0" class="empty-favorites">
    <p>Favorite movies are empty</p>
  </div>
  <div class="movies-grid">
    <div *ngFor="let movie of favoriteMovies" class="movie-card">
      <img src="{{ movie.ImagePath }}" alt="{{ movie.Title }}" />
      <div class="movie-info">
        <h3>{{ movie.Title }}</h3>
      </div>
    </div>
  </div>
</div>
